<!DOCTYPE html>
<html>
<body>
	<div class="container">
		<% record = @restaurant_match %>
		<% if record == nil %>
			<div class="container">
			  <div class="row justify-content-center">
			    <div class="col-md-6">
			      <div class="cool-box text-center">
			        <h1 style="color: red;">Not Found</h1>
			      </div>
			    </div>
			  </div>
			</div>

		<% else %>
			<% if record.restaurant_logo != nil %>
				<%= image_tag(record.restaurant_logo, width: 30, height: 320, class: "card-img-top", alt: "logo") %>
			<% else %>
				<%= image_tag("restaurant_no_logo.png", width: 30, height: 320, class: "card-img-top", alt: "logo") %>
			<% end %>

			<!-- Restaurant Information -->
			<div class="row justify-content-center">
			   	<div class="col-md-5 text-center">
			   		<br>
			        <h1> <u><%= record.name %></u></h1>
			        <h3 style="color:gray;"> <i><%= record.address %></i></h3>
			        <h5> <%= record.phone_number %></h5>
			   	</div>
			</div>
			<!-- Text based on authentication or not -->
			<div class="row justify-content-center">
				<hr>
				<% if logged_in? %>
					<h1>Book one of our tables!</h1>
					<!-- Test -->

					<!-- Check table presence -->
					<% if @restaurant_tables.empty? %>
						<h1 style="color: darkorange;">Restaurant has no available tables</h1>

					<% else %>

						<div class="container">
						  <div class="row">
						    <div class="col-md-12">
						      <h4><%= record.name %>'s available tables ( <%= @table_counter %> tables)</h4>
						      <ul class="list-group">
						        <% @restaurant_tables.each do |table| %>
						          <li class="list-group-item">
						            <div class="d-flex justify-content-between align-items-center">
						              <div>
						                <h5 class="mb-1">Table Number: <%= table.table_number %></h5>
						                <p class="mb-1">Capacity: <%= table.capacity %></p>
						                <p class="mb-1">Available?: 
						                  <% if table.available %>
						                    <span class="text-success">available</span>
						                  <% else %>
						                    <span class="text-danger">not available</span>
						                  <% end %>
						                </p>
						              </div>
						              <%= image_tag("table_icon.png", class: "img-fluid", alt: "Table Icon") %>
						              <!-- Disable button or not based on table availability -->
						              <% if not table.available? %>
						              	<%= link_to "Unavailable!", "/", class: "btn btn-danger btn-lg disabled" %>
						              <% else %>
						              	<%= link_to "Book!", "/", class: "btn btn-secondary btn-lg" %>
						              <% end %>
						            </div>
						          </li>
						        <% end %>
						      </ul>
						    </div>
						  </div>
						</div>


					<% end %>

				<% else %>
					<h1 style="color:red;">You have to be logged in in order to view and order a table!</h1>
				<% end %>
			</div>

		<% end %>
	</div>

<style>
    /* Custom CSS for styling the box */
    .cool-box {
      background-color: #f8f9fa; /* Light gray background */
      border: 2px solid #ced4da; /* Gray border */
      border-radius: 10px; /* Rounded corners */
      padding: 20px; /* Padding inside the box */
      margin-top: 50px; /* Margin from the top */
    }
</style>
</body>
</html>